*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(108, 108, 212);
    margin-bottom: 20px;
}

h3{
    border-bottom: 2px solid rgb(161, 156, 156);
    color: rgb(108, 108, 212);
    padding-bottom: 1%;
}
.date-picker{
    padding: 10px 0px;
}
label {
    font-size: 1rem;
    margin-right: 10px;
}

.dates {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border: none;
}

button {
    padding: 8px 16px;
    background-color: rgb(108, 108, 212);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

button:hover {
    background-color:rgb(53, 133, 68);
}


table {
    width: 100%;
    margin-top: 20px;
}

th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th{
    background-color:rgb(108, 108, 212);
    color: white;
    font-weight: bold;
}

td {
    background-color: #f1ecec;
}

.search-bar{
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
}

.search{
    width: 100%;
    padding: 12px 40px 12px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.search:hover{
    border: 2px solid rgb(108, 108, 212);;
}

#search-icon{
    position: absolute;
    right: 10px;
    top: 35%;
    color: gray;
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-btn{
    background-color: #6c6cd4;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.page-btn:hover{
    background-color: rgb(53, 133, 68);
}

